{% extends 'base.html.twig' %}

{% block title %}
    AFTERGLOW{{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        AFTERGLOW: The Echo of the Night
    </h2>
    <p>
        Far from the beaten path, Afterglow invites you to an immersive sound experience where drum and bass reigns
        supreme. Forget everything you thought you knew about festivals: Afterglow is much more than an event, it's a
        pilgrimage to the heart of broken beats.
    </p>
    <p>
        In a dreamlike setting where technology meets nature, let yourself be carried away by deep bass and hypnotic
        melodies. Our stages, designed as portals to other dimensions, will host both pioneers and rising stars of the
        genre. From the hard-hitting sets on the main stage to the more dub and liquid vibes of the alternative stage,
        every corner of Afterglow is a new exploration.
    </p>
    <p>
        Afterglow is also a state of mind: a place of sharing, creativity, and good vibes where music is the only
        universal language.
    </p>
    <p>
        Join us for a night where heartbeats align with kick drums. Let the afterglow, the incandescence that follows
        the explosion, envelop you.
    </p>

    <p>
        Line-up coming soon.
    </p>
{% endblock %}